{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "chrome >= 49"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
