@import './mixins.less';
[class^="icon-"]:before,
[class*=" icon-"]:before {
    .yame-font();
}

.icon-cancel-circled {
    &:before {
        content: '\e800';
    }
}

/* '' */

.icon-bold {
    &:before {
        content: '\e801';
    }
}

/* '' */

.icon-italic {
    &:before {
        content: '\e802';
    }
}

/* '' */

.icon-link {
    &:before {
        content: '\e803';
    }
}

/* '' */

.icon-picture {
    &:before {
        content: '\e804';
    }
}

/* '' */

.icon-check {
    &:before {
        content: '\e805';
    }
}

/* '' */

.icon-cog {
    &:before {
        content: '\e806';
    }
}

/* '' */

.icon-help-circled {
    &:before {
        content: '\e807';
    }
}

/* '' */

.icon-list-bullet {
    &:before {
        content: '\f0ca';
    }
}

/* '' */

.icon-list-numbered {
    &:before {
        content: '\f0cb';
    }
}

/* '' */

.icon-table {
    &:before {
        content: '\f0ce';
    }
}

/* '' */

.icon-exchange {
    &:before {
        content: '\f0ec';
    }
}

/* '' */

.icon-quote-left {
    &:before {
        content: '\f10d';
    }
}

/* '' */

.icon-code {
    &:before {
        content: '\f121';
    }
}

/* '' */

.icon-help {
    &:before {
        content: '\f128';
    }
}

/* '' */

.icon-header {
    &:before {
        content: '\f1dc';
    }
}

/* '' */

.icon-plus {
    &:before {
        content: '\e809';
    }
}

/* '' */

.icon-columns {
    &:before {
        content: '\f0db';
    }
}

/* '' */

// component styles
.editor-style() {
    .CodeMirror {
        height: 100%;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Courier, monospace, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    border: 1px solid @themePrimary;
    width: 50%;
    .toolbar {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        height: 40px;
        box-shadow: 0px 2px 6px 0px lightgrey;
        margin-bottom: 5px;
        .left,
        .right {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: stretch;
        }
        .left {
            .toggle-btn {
                border-right: 1px @neutralQuaternary solid;
            }
        }
        .right {
            .toggle-btn {
                border-left: 1px @neutralQuaternary solid;
            }
        }
        .toggle-btn {
            width: 40px;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            color: @neutralPrimary;
            cursor: pointer;
            &:before {
                content: ' ';
            }
            &:after {
                content: ' ';
                position: relative;
                display: block;
                background: transparent;
                width: 40px;
                height: 3px;
                transition: background-color;
            }
            &:hover:after {
                background: @themePrimary;
            }
        }
    }
    .editor-host {
        height: calc(100% - 45px);
    }
}

.preview-style() {
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid @themeSecondary;
    width: 50%;
    pre {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Courier, monospace, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.ya-markdown.host {
    height: 100%;
}

.ya-markdown {
    .yame-container {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        .editor {
            .editor-style();
        }
        .preview {
            .preview-style();
        }
    }
}
